{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row page-title align-items-center">
        <div class="col-sm-4 col-xl-6">
            <h4 class="mb-1 mt-0">Dashboard</h4>
        </div>
    </div>

    <!-- content -->
    <div class="row">
        <div class="col-md-6 col-xl-3 col-6">
            <div class="card bg-primary">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-white text-uppercase font-size-12 font-weight-bold">Total Kelas</span>
                            <h2 class="mb-0 text-white">{{ tot_division }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 col-6">
            <div class="card bg-danger">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-white text-uppercase font-size-12 font-weight-bold">Total Pemilih</span>
                            <h2 class="mb-0 text-white">{{ tot_voter }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 col-6">
            <div class="card bg-success">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-white text-uppercase font-size-12 font-weight-bold">Total Kandidat</span>
                            <h2 class="mb-0 text-white">{{ tot_candidate }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 col-6">
            <div class="card bg-warning">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-white text-uppercase font-size-12 font-weight-bold">Total Sudah Memilih</span>
                            <h2 class="mb-0 text-white">{{ tot_voted }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- stats + charts -->
    <div class="row">
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3 header-title">Grafik Voting</h5>
                    <div id="grafikVoting" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3 header-title">Grafik Suara Pemilih</h5>
                    <div id="grafikVoter" class="apex-charts" dir="ltr"></div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- row -->
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard.min.js' %}"></script>
{% endblock script %}